/* @media (max-width: 1020px){
  .ecoProblems{
    width: 250px;
  }
  .ecoProblems h2 {
    font-size: 3em;
  }
}
@media (max-width: 915px){
  .slide2{
  width: 250px;
  }
}
@media (max-width: 800px){
  .slide{
  width: 250px;
  }
} */
